In [1]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2017, 12, 4, 15, 12, 51, 927997)

In [7]:
delta = datetime(2011,11,7)-datetime(2008,8,24,6,24)
delta

datetime.timedelta(1169, 63360)

In [8]:
delta.seconds

63360

In [9]:
from datetime import timedelta
start = datetime(2001,11,17)
start + timedelta(3)

datetime.datetime(2001, 11, 20, 0, 0)

In [10]:
start - 2* timedelta(3)

datetime.datetime(2001, 11, 11, 0, 0)

In [11]:
stamp = datetime(2011,1,3)
str(stamp)

'2011-01-03 00:00:00'

In [12]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [13]:
value = '2011-01-03'
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [14]:
datestrs = ['7/6/2011','8/6/2011']

In [16]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [17]:
from dateutil.parser import parse

In [18]:
parse(value)

datetime.datetime(2011, 1, 3, 0, 0)

In [19]:
parse('8/6/2011')

datetime.datetime(2011, 8, 6, 0, 0)

In [20]:
import pandas as pd

In [21]:
datestrs

['7/6/2011', '8/6/2011']

In [22]:
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

TypeError: Parser must be a string or character stream, not list

In [24]:
dates = [datetime(2011,11,2),datetime(2011,1,23),datetime(2001,1,12),datetime(2006,7,2)]

In [29]:
from pandas import Series
import numpy as np
ts = Series(np.random.randn(4),index=dates)
ts

2011-11-02   -0.401518
2011-01-23   -2.090641
2001-01-12    0.085749
2006-07-02   -0.161577
dtype: float64

In [40]:
longer_ts = Series(np.random.randn(1000),index = pd.date_range('1/1/2000',periods=1000))

In [42]:
dates = pd.date_range('2000/1/1',periods=100,freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100,4),index=dates,columns=['Colorado','Texas','Ohio','NewYork'])

In [43]:
long_df[:4]

            Colorado     Texas      Ohio   NewYork
2000-01-05  0.775198  0.832350 -0.434811  0.726431
2000-01-12 -0.542170 -0.659153  1.699596  0.383279
2000-01-19 -0.441552  0.733898 -3.420960  0.256336
2000-01-26  0.224761 -1.156170 -0.049567  1.808962

In [44]:
dates = pd.DatetimeIndex(['1/1/2000','1/2/2000','1/2/2000','1/3/2000'])
dup_ts = Series(np.arange(4),index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-03    3
dtype: int64

In [45]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
dtype: int64

In [52]:
pd.date_range(end='4/1/2012 0:40',periods=20,normalize =True)

DatetimeIndex(['2012-03-13', '2012-03-14', '2012-03-15', '2012-03-16',
               '2012-03-17', '2012-03-18', '2012-03-19', '2012-03-20',
               '2012-03-21', '2012-03-22', '2012-03-23', '2012-03-24',
               '2012-03-25', '2012-03-26', '2012-03-27', '2012-03-28',
               '2012-03-29', '2012-03-30', '2012-03-31', '2012-04-01'],
              dtype='datetime64[ns]', freq='D')

In [54]:
from pandas.tseries.offsets import Hour,Minute
hour = Hour()
hour

In [56]:
four_hours = Hour(4)
four_hours

In [57]:
pd.date_range('1/1/2000','1/3/2000',freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [58]:
Hour(2) +Minute(30)

In [59]:
pd.date_range('1/1/2000',periods=10,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [60]:
rng = pd.date_range('1/1/2012','9/1/2012',freq = 'WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [61]:
ts  =Series(np.random.randn(4),index=pd.date_range('1/1/2000',periods=4,freq='M'))
ts

2000-01-31    1.705092
2000-02-29   -1.329583
2000-03-31    0.094216
2000-04-30    0.739292
Freq: M, dtype: float64

In [63]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    1.705092
2000-04-30   -1.329583
Freq: M, dtype: float64

In [64]:
ts.shift(-2)

2000-01-31    0.094216
2000-02-29    0.739292
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [68]:
ts.shift(2,freq='3D')

2000-02-06    1.705092
2000-03-06   -1.329583
2000-04-06    0.094216
2000-05-06    0.739292
dtype: float64

In [69]:
from pandas.tseries.offsets import Day,MonthEnd
now = datetime(2011,11,17)
now + 3*Day()

Timestamp('2011-11-20 00:00:00')

In [71]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [72]:
offset = MonthEnd()

In [73]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [74]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [75]:
ts = Series(np.random.randn(20),index = pd.date_range('1/15/2000',periods=20,freq='4d'))

In [77]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.183399
2000-02-29    0.288109
2000-03-31    0.289696
dtype: float64

In [78]:
ts.resample('M',how='mean')

/Users/hikari/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  if __name__ == '__main__':

2000-01-31   -0.183399
2000-02-29    0.288109
2000-03-31    0.289696
Freq: M, dtype: float64

In [80]:
import pytz

In [81]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [82]:
tz = pytz.timezone('US/Eastern')

In [83]:
tz

In [89]:
rng = pd.date_range('3/9/2012 9:30',periods = 6,freq='D')
ts = Series(np.random.randn(len(rng)),index = rng)

In [91]:
ts_utc=ts.tz_localize('UTC')

In [93]:
ts_utc.tz_convert('Europe/Berlin')

2012-03-09 10:30:00+01:00    0.732232
2012-03-10 10:30:00+01:00    1.998564
2012-03-11 10:30:00+01:00   -0.250560
2012-03-12 10:30:00+01:00   -2.501259
2012-03-13 10:30:00+01:00    0.328007
2012-03-14 10:30:00+01:00   -0.217448
Freq: D, dtype: float64

In [94]:
ts1 = ts.tz_localize('Europe/London')
ts2 = ts.tz_localize('Asia/Tokyo')

In [95]:
ts1 + ts2

2012-03-09 00:30:00+00:00   NaN
2012-03-09 09:30:00+00:00   NaN
2012-03-10 00:30:00+00:00   NaN
2012-03-10 09:30:00+00:00   NaN
2012-03-11 00:30:00+00:00   NaN
2012-03-11 09:30:00+00:00   NaN
2012-03-12 00:30:00+00:00   NaN
2012-03-12 09:30:00+00:00   NaN
2012-03-13 00:30:00+00:00   NaN
2012-03-13 09:30:00+00:00   NaN
2012-03-14 00:30:00+00:00   NaN
2012-03-14 09:30:00+00:00   NaN
dtype: float64

In [96]:
p = pd.Period(2007,freq='A-DEC')
p

Period('2007', 'A-DEC')

In [97]:
p +5

Period('2012', 'A-DEC')

In [99]:
p.asfreq('D',how='start')

Period('2007-01-01', 'D')

In [100]:
p = pd.Period('2012Q4',freq='Q-JAN')
p

Period('2012Q4', 'Q-JAN')

In [101]:
p.asfreq('D','start')

Period('2011-11-01', 'D')

In [102]:
p4pm = (p.asfreq('B','e')-1).asfreq('T','s')+16*60
p4pm

Period('2012-01-30 16:00', 'T')

In [103]:
rng = pd.period_range('2011Q3','2012Q4',freq='Q-JAN')

In [105]:
ts = Series(np.random.randn(len(rng)),index=rng)
ts

2011Q3    0.457243
2011Q4    1.378790
2012Q1   -0.858295
2012Q2   -0.484616
2012Q3    0.457539
2012Q4    0.289040
Freq: Q-JAN, dtype: float64

In [106]:
rng = pd.date_range('1/1/2000',periods=3,freq='M')

In [107]:
ts = Series(np.random.randn(3),index=rng)
pts = ts.to_period()

In [108]:
ts

2000-01-31   -0.866076
2000-02-29   -1.487193
2000-03-31    0.721814
Freq: M, dtype: float64

In [109]:
pts

2000-01   -0.866076
2000-02   -1.487193
2000-03    0.721814
Freq: M, dtype: float64

In [110]:
pts.to_timestamp(how='end')

2000-01-31   -0.866076
2000-02-29   -1.487193
2000-03-31    0.721814
Freq: M, dtype: float64

In [113]:
rng = pd.date_range('1/1/2000',periods=100,freq='D')
ts = Series(np.random.randn(len(rng)),index =rng)
ts.resample('M',how='mean',kind='period')

/Users/hikari/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  app.launch_new_instance()

2000-01    0.002336
2000-02    0.342836
2000-03   -0.112150
2000-04   -0.377453
Freq: M, dtype: float64

In [115]:
rng = pd.date_range('1/1/2000',periods=12,freq='T')
ts = Series(np.arange(12),index=rng)
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int64

In [118]:
ts.resample('5min',how='sum',closed='left',label='left')

/Users/hikari/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).sum()
  if __name__ == '__main__':

2000-01-01 00:00:00    10
2000-01-01 00:05:00    35
2000-01-01 00:10:00    21
Freq: 5T, dtype: int64

In [119]:
ts.resample('5min',how='ohlc')

/Users/hikari/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).ohlc()
  if __name__ == '__main__':

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

In [121]:
frame  = pd.DataFrame(np.random.randn(2,4),index = pd.date_range('1/1/2000',periods=2,freq='W-WED'),columns=['Colorado','Texas','NewYork','Ohio'])
frame[:5]

            Colorado     Texas   NewYork      Ohio
2000-01-05  2.360148  0.316178  0.701984  1.013550
2000-01-12  0.502039 -0.550245  1.905198  0.388408

In [122]:
df_daily = frame.resample('D')

In [127]:
df_daily

DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]

In [128]:
frame.resample('D',fill_method='ffill')

/Users/hikari/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: fill_method is deprecated to .resample()
the new syntax is .resample(...).ffill()
  if __name__ == '__main__':

            Colorado     Texas   NewYork      Ohio
2000-01-05  2.360148  0.316178  0.701984  1.013550
2000-01-06  2.360148  0.316178  0.701984  1.013550
2000-01-07  2.360148  0.316178  0.701984  1.013550
2000-01-08  2.360148  0.316178  0.701984  1.013550
2000-01-09  2.360148  0.316178  0.701984  1.013550
2000-01-10  2.360148  0.316178  0.701984  1.013550
2000-01-11  2.360148  0.316178  0.701984  1.013550
2000-01-12  0.502039 -0.550245  1.905198  0.388408

In [129]:
close_px_all = pd.read_csv('/Users/hikari/Downloads/python\ データ分析/stock_px.csv',parse_dates=True,index_col=0)
close_px = close_px_all[['AAPL','MSFT','XOM']]
close_px = close_px.resample('B',fill_method='ffill')

FileNotFoundError: File b'/Users/hikari/Downloads/python\\ \xe3\x83\x86\xe3\x82\x99\xe3\x83\xbc\xe3\x82\xbf\xe5\x88\x86\xe6\x9e\x90/stock_px.csv' does not exist