In [1]:
import pandas as pd

In [3]:
close_px = pd.read_csv('/Users/hikari/Downloads/pydata-book-master/ch11/stock_px.csv', parse_dates=True, index_col=0)
volume = pd.read_csv('/Users/hikari/Downloads/pydata-book-master/ch11/volume.csv', parse_dates=True, index_col=0)

In [4]:
from __future__ import division
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn
import numpy as np
pd.options.display.max_rows = 12
np.set_printoptions(precision=4, suppress=True)
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(12, 6))

In [6]:
prices = close_px.ix['2011-09-05':'2011-09-14', ['AAPL', 'JNJ', 'SPX', 'XOM']]
volume = volume.ix['2011-09-05':'2011-09-12', ['AAPL', 'JNJ', 'XOM']]

In [7]:
prices

              AAPL    JNJ      SPX    XOM
2011-09-06  379.74  64.64  1165.24  71.15
2011-09-07  383.93  65.43  1198.62  73.65
2011-09-08  384.14  64.95  1185.90  72.82
2011-09-09  377.48  63.64  1154.23  71.01
2011-09-12  379.94  63.59  1162.27  71.84
2011-09-13  384.62  63.61  1172.87  71.65
2011-09-14  389.30  63.73  1188.68  72.64

In [9]:
volume

                  AAPL         JNJ         XOM
2011-09-06  18173500.0  15848300.0  25416300.0
2011-09-07  12492000.0  10759700.0  23108400.0
2011-09-08  14839800.0  15551500.0  22434800.0
2011-09-09  20171900.0  17008200.0  27969100.0
2011-09-12  16697300.0  13448200.0  26205800.0

In [10]:
prices * volume

                    AAPL           JNJ  SPX           XOM
2011-09-06  6.901205e+09  1.024434e+09  NaN  1.808370e+09
2011-09-07  4.796054e+09  7.040072e+08  NaN  1.701934e+09
2011-09-08  5.700561e+09  1.010070e+09  NaN  1.633702e+09
2011-09-09  7.614489e+09  1.082402e+09  NaN  1.986086e+09
2011-09-12  6.343972e+09  8.551710e+08  NaN  1.882625e+09
2011-09-13           NaN           NaN  NaN           NaN
2011-09-14           NaN           NaN  NaN           NaN

In [11]:
vwap = (prices * volume).sum() /volume.sum()

In [13]:
vwap.dropna()

AAPL    380.655181
JNJ      64.394769
XOM      72.024288
dtype: float64

In [15]:
prices.align(volume,join='inner')

(              AAPL    JNJ    XOM
 2011-09-06  379.74  64.64  71.15
 2011-09-07  383.93  65.43  73.65
 2011-09-08  384.14  64.95  72.82
 2011-09-09  377.48  63.64  71.01
 2011-09-12  379.94  63.59  71.84,
                   AAPL         JNJ         XOM
 2011-09-06  18173500.0  15848300.0  25416300.0
 2011-09-07  12492000.0  10759700.0  23108400.0
 2011-09-08  14839800.0  15551500.0  22434800.0
 2011-09-09  20171900.0  17008200.0  27969100.0
 2011-09-12  16697300.0  13448200.0  26205800.0)

In [17]:
s1 = Series(range(3),index=['a','b','c'])
s2 = Series(range(4),index=['s','b','c','e'])
s3 = Series(range(3),index=['f','a','v'])

In [23]:
DataFrame({'one':s1,'two':s2,'three':s3},index=list('vac'))

   one  three  two
v  NaN    2.0  NaN
a  0.0    1.0  NaN
c  2.0    NaN  2.0

In [25]:
ts1 = Series(np.random.randn(3),index=pd.date_range('2012-6-13',periods=3,freq='W-WED'))

In [26]:
ts1

2012-06-13    0.193839
2012-06-20   -0.097099
2012-06-27    1.699877
Freq: W-WED, dtype: float64

In [31]:
ts1.resample('B',fill_method='ffill')

/Users/hikari/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning:
.resample() is now a deferred operation
You called resample(...) on this deferred object which materialized it into a series
by implicitly taking the mean.  Use .resample(...).mean() instead
  if __name__ == '__main__':
/Users/hikari/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: fill_method is deprecated to .resample()
the new syntax is .resample(...).ffill()
  if __name__ == '__main__':

2012-06-13    0.193839
2012-06-14         NaN
2012-06-15         NaN
2012-06-18         NaN
2012-06-19         NaN
2012-06-20   -0.097099
2012-06-21         NaN
2012-06-22         NaN
2012-06-25         NaN
2012-06-26         NaN
2012-06-27    1.699877
Freq: B, dtype: float64

In [32]:
dates = pd.DatetimeIndex(['2012-6-12','2012-6-17','2012-6-18','2012-6-21','2012-6-22','2012-6-29'])

In [33]:
ts2 = Series(np.random.randn(6),index = dates)

In [34]:
ts2

2012-06-12    0.654467
2012-06-17   -1.348037
2012-06-18    3.469551
2012-06-21    1.380842
2012-06-22    0.199117
2012-06-29   -2.161645
dtype: float64

In [35]:
ts1.reindex(ts2.index,method='ffill')

/Users/hikari/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning:
.resample() is now a deferred operation
You called reindex(...) on this deferred object which materialized it into a series
by implicitly taking the mean.  Use .resample(...).mean() instead
  if __name__ == '__main__':

2012-06-12         NaN
2012-06-17         NaN
2012-06-18         NaN
2012-06-21         NaN
2012-06-22         NaN
2012-06-29    1.699877
dtype: float64

In [36]:
ts2 + ts1.reindex(ts2.index,method='ffill')

/Users/hikari/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning:
.resample() is now a deferred operation
You called reindex(...) on this deferred object which materialized it into a series
by implicitly taking the mean.  Use .resample(...).mean() instead
  if __name__ == '__main__':

2012-06-12         NaN
2012-06-17         NaN
2012-06-18         NaN
2012-06-21         NaN
2012-06-22         NaN
2012-06-29   -0.461768
dtype: float64

In [37]:
gdp = Series([1.78, 1.94, 2.08, 2.01, 2.15, 2.31, 2.46],
             index=pd.period_range('1984Q2', periods=7, freq='Q-SEP'))

In [38]:
infl = Series([0.025, 0.045, 0.037, 0.04],
              index=pd.period_range('1982', periods=4, freq='A-DEC'))

In [39]:
gdp

1984Q2    1.78
1984Q3    1.94
1984Q4    2.08
1985Q1    2.01
1985Q2    2.15
1985Q3    2.31
1985Q4    2.46
Freq: Q-SEP, dtype: float64

In [40]:
infl_q = infl.asfreq('Q-SEP',how='end')
infl_q

1983Q1    0.025
1984Q1    0.045
1985Q1    0.037
1986Q1    0.040
Freq: Q-SEP, dtype: float64

In [41]:
infl_q.reindex(gdp.index,method='ffill')

1984Q2    0.045
1984Q3    0.045
1984Q4    0.045
1985Q1    0.037
1985Q2    0.037
1985Q3    0.037
1985Q4    0.037
Freq: Q-SEP, dtype: float64

In [42]:
infl

1982    0.025
1983    0.045
1984    0.037
1985    0.040
Freq: A-DEC, dtype: float64

In [43]:
rng = pd.date_range('2012-06-01 09:30','2012-06-01 15:59',freq='T')

In [44]:
rng = rng.append([rng+pd.offsets.BDay(i) for i in range(1,4)])

In [47]:
ts  = Series(np.arange(len(rng),dtype = float),index = rng)
ts

2012-06-01 09:30:00       0.0
2012-06-01 09:31:00       1.0
2012-06-01 09:32:00       2.0
2012-06-01 09:33:00       3.0
2012-06-01 09:34:00       4.0
2012-06-01 09:35:00       5.0
                        ...
2012-06-06 15:54:00    1554.0
2012-06-06 15:55:00    1555.0
2012-06-06 15:56:00    1556.0
2012-06-06 15:57:00    1557.0
2012-06-06 15:58:00    1558.0
2012-06-06 15:59:00    1559.0
dtype: float64

In [48]:
from datetime import time
ts[time(10,0)]

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [49]:
ts.at_time(time(10,0))

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
dtype: float64

In [50]:
ts.between_time(time(10,0),time(10,1))

2012-06-01 10:00:00      30.0
2012-06-01 10:01:00      31.0
2012-06-04 10:00:00     420.0
2012-06-04 10:01:00     421.0
2012-06-05 10:00:00     810.0
2012-06-05 10:01:00     811.0
2012-06-06 10:00:00    1200.0
2012-06-06 10:01:00    1201.0
dtype: float64

In [51]:
indexer = np.sort(np.random.permutation(len(ts))[700:])
irr_ts = ts.copy()

In [52]:
irr_ts[indexer]  =np.nan

In [53]:
irr_ts['2012-06-01 09:50':'2012-06-01 10:00']

2012-06-01 09:50:00     NaN
2012-06-01 09:51:00     NaN
2012-06-01 09:52:00     NaN
2012-06-01 09:53:00     NaN
2012-06-01 09:54:00     NaN
2012-06-01 09:55:00    25.0
2012-06-01 09:56:00    26.0
2012-06-01 09:57:00    27.0
2012-06-01 09:58:00     NaN
2012-06-01 09:59:00    29.0
2012-06-01 10:00:00    30.0
dtype: float64

In [54]:
selection = pd.date_range('2012-06-01 10:00',periods=4,freq='B')
irr_ts.asof(selection)

2012-06-01 10:00:00      30.0
2012-06-04 10:00:00     420.0
2012-06-05 10:00:00     810.0
2012-06-06 10:00:00    1200.0
Freq: B, dtype: float64

In [55]:
data1 =  DataFrame(np.ones((6,3),dtype=float),columns=['a','b','c'],index=pd.date_range('6/12/2012',periods=6))

In [56]:
data2 =  DataFrame(np.ones((6,3),dtype=float) *2,columns=['a','b','c'],index=pd.date_range('6/13/2012',periods=6))

In [58]:
spliced = pd.concat([data1.ix[:'2012-06-14'],data2.ix['2012-06-15':]])

In [59]:
spliced

              a    b    c
2012-06-12  1.0  1.0  1.0
2012-06-13  1.0  1.0  1.0
2012-06-14  1.0  1.0  1.0
2012-06-15  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0

In [60]:
data2 =  DataFrame(np.ones((6,4),dtype=float) *2,columns=['a','b','c','d'],index=pd.date_range('6/13/2012',periods=6))

In [61]:
spliced = pd.concat([data1.ix[:'2012-06-14'],data2.ix['2012-06-15':]])

In [62]:
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  NaN
2012-06-14  1.0  1.0  1.0  NaN
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [63]:
spliced_filled = spliced.combine_first(data2)

In [64]:
spliced_filled

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [65]:
spliced.update(data2,overwrite=False)

In [66]:
spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  2.0  2.0  2.0  2.0
2012-06-16  2.0  2.0  2.0  2.0
2012-06-17  2.0  2.0  2.0  2.0
2012-06-18  2.0  2.0  2.0  2.0

In [67]:
cp_spliced = spliced.copy()

In [68]:
cp_spliced[['a','c']] = data1[['a','c']]
cp_spliced

              a    b    c    d
2012-06-12  1.0  1.0  1.0  NaN
2012-06-13  1.0  1.0  1.0  2.0
2012-06-14  1.0  1.0  1.0  2.0
2012-06-15  1.0  2.0  1.0  2.0
2012-06-16  1.0  2.0  1.0  2.0
2012-06-17  1.0  2.0  1.0  2.0
2012-06-18  NaN  2.0  NaN  2.0

In [74]:
from pandas_datareader import data  as web

In [75]:
price = web.get_data_yahoo('AAPL','2011-01-01')['Adj Close']

In [76]:
price[-5:]

Date
2017-11-30    171.850006
2017-12-01    171.050003
2017-12-04    169.800003
2017-12-05    169.639999
2017-12-06    169.009995
Name: Adj Close, dtype: float64

In [77]:
price['2017-12-05'] /price['2017-3-01'] -1

0.22772656910896361

In [78]:
returns = price.pct_change()

In [79]:
ret_index = (1+returns).cumprod()

In [80]:
ret_index[0]=1

In [81]:
ret_index

Date
2010-12-31    1.000000
2011-01-03    1.021732
2011-01-04    1.027065
2011-01-05    1.035466
2011-01-06    1.034629
2011-01-07    1.042039
                ...
2017-11-29    4.102871
2017-11-30    4.160246
2017-12-01    4.140879
2017-12-04    4.110618
2017-12-05    4.106744
2017-12-06    4.091493
Name: Adj Close, dtype: float64

In [82]:
m_returns = ret_index.resample('BM',how='last').pct_change()
m_returns['2012']

/Users/hikari/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).last()
  if __name__ == '__main__':

Date
2012-01-31    0.127111
2012-02-29    0.188311
2012-03-30    0.105283
2012-04-30   -0.025970
2012-05-31   -0.010702
2012-06-29    0.010853
2012-07-31    0.045822
2012-08-31    0.093877
2012-09-28    0.002796
2012-10-31   -0.107600
2012-11-30   -0.012375
2012-12-31   -0.090743
Freq: BM, Name: Adj Close, dtype: float64

In [83]:
m_rets = (1+returns).resample('M',how='prod',kind='period')-1
m_rets['2012']

/Users/hikari/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).prod()
  if __name__ == '__main__':

Date
2012-01    0.127111
2012-02    0.188311
2012-03    0.105283
2012-04   -0.025970
2012-05   -0.010702
2012-06    0.010853
2012-07    0.045822
2012-08    0.093877
2012-09    0.002796
2012-10   -0.107600
2012-11   -0.012375
2012-12   -0.090743
Freq: M, Name: Adj Close, dtype: float64

In [85]:
import random; random.seed(0)
import string

In [92]:
N = 1000
def rands(n):
    choices = string.ascii_uppercase
    return ''.join([random.choice(choices) for _ in range(n)])
tickers = np.array([rands(5) for _ in range(N)])

In [93]:
ind_names = np.array(['FINANCIAL', 'TECH'])
sampler = np.random.randint(0, len(ind_names), N)
industries = Series(ind_names[sampler], index=tickers,
                    name='industry')

In [96]:
M = 500
df = DataFrame({'Momentum' : np.random.randn(M) / 200 + 0.03,
                'Value' : np.random.randn(M) / 200 + 0.08,
                'ShortInterest' : np.random.randn(M) / 200 - 0.02},
                index=tickers[:M])

In [97]:
by_industry = df.groupby(industries)
by_industry.mean()

           Momentum  ShortInterest     Value
industry
FINANCIAL  0.030620      -0.019510  0.079767
TECH       0.030038      -0.020081  0.080245

In [98]:
by_industry.describe()

                   Momentum  ShortInterest       Value
industry
FINANCIAL count  239.000000     239.000000  239.000000
          mean     0.030620      -0.019510    0.079767
          std      0.005040       0.004966    0.004554
          min      0.017563      -0.034116    0.065602
          25%      0.027381      -0.023024    0.076338
          50%      0.030494      -0.019318    0.079822
...                     ...            ...         ...
TECH      std      0.004888       0.004936    0.005028
          min      0.014539      -0.037929    0.062990
          25%      0.026910      -0.023073    0.076986
          50%      0.029732      -0.020199    0.080227
          75%      0.033444      -0.016862    0.083380
          max      0.045864      -0.004993    0.093575

[16 rows x 3 columns]

In [105]:
def zscore(group):
    return (group-group.mean())/group.std()
def_stand = by_industry.apply(zscore)

In [109]:
from numpy.random import rand
fac1,fac2,fac3 = np.random.rand(3,1000)

In [110]:
ticker_subset = tickers.take(np.random.permutation(N)[:1000])

In [111]:
port = Series(0.7*fac1 -1.2*fac2 + 0.3*fac3 + rand(1000),index = ticker_subset)
factors = DataFrame({'f1':fac1,'f2':fac2,'f3':fac3},index=ticker_subset)

In [112]:
factors.corrwith(port)

f1    0.375178
f2   -0.654805
f3    0.169459
dtype: float64

In [113]:
pd.ols(y=port,x=factors).beta

/Users/hikari/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2881: FutureWarning: The pandas.stats.ols module is deprecated and will be removed in a future version. We refer to external packages like statsmodels, see some examples here: http://www.statsmodels.org/stable/regression.html
  exec(code_obj, self.user_global_ns, self.user_ns)

f1           0.694842
f2          -1.179025
f3           0.329525
intercept    0.456348
dtype: float64

In [114]:
def beta_exposure(chunk, factors=None):
    return pd.ols(y=chunk, x=factors).beta

In [115]:
by_ind = port.groupby(industries)
exposures = by_ind.apply(beta_exposure, factors=factors)
exposures.unstack()

/Users/hikari/anaconda/lib/python3.6/site-packages/pandas/core/groupby.py:685: FutureWarning: The pandas.stats.ols module is deprecated and will be removed in a future version. We refer to external packages like statsmodels, see some examples here: http://www.statsmodels.org/stable/regression.html
  return func(g, *args, **kwargs)

                 f1        f2        f3  intercept
industry
FINANCIAL  0.701673 -1.155747  0.380068   0.425505
TECH       0.693648 -1.204621  0.278018   0.485685

In [116]:
data = web.get_data_yahoo('SPY','2006-01-01')
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2006-01-03,125.190002,127.000000,124.389999,126.699997,99.607002,73256700
2006-01-04,126.860001,127.489998,126.699997,127.300003,100.078697,51899600
2006-01-05,127.150002,127.589996,126.879997,127.379997,100.141617,47307500
2006-01-06,128.020004,128.580002,127.360001,128.440002,100.974953,62885900
2006-01-09,128.419998,129.059998,128.380005,128.770004,101.234375,43527400
2006-01-10,128.389999,128.979996,128.259995,128.899994,101.336578,44960800
...,...,...,...,...,...,...
2017-11-29,263.019989,263.630005,262.200012,262.709991,262.709991,77512100
2017-11-30,263.760010,266.049988,263.670013,265.010010,265.010010,127894400
2017-12-01,264.760010,265.309998,260.760010,264.459991,264.459991,164390900
2017-12-04,266.309998,266.799988,264.079987,264.140015,264.140015,94040600
2017-12-05,263.190002,265.149994,263.040009,263.190002,263.190002,77994500
2017-12-06,263.299988,263.730011,262.709991,263.239990,263.239990,75401800

In [117]:
px = data['Adj Close']

In [118]:
returns = px.pct_change()

In [120]:
def to_index(rets):
    index = (1+rets).cumprod()
    first_loc = max(index.notnull().argmax()-1,0)
    index.values[first_loc] = 1
    return index

In [121]:
def trend_signal(rets,lookback,lag):
    signal = pd.rolling_sum(rets,lookback,min_periods = lookback-5)
    return signal.shift(lag)

In [122]:
signal = trend_signal(returns,100,3)

/Users/hikari/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: FutureWarning: pd.rolling_sum is deprecated for Series and will be removed in a future version, replace with
	Series.rolling(window=100,min_periods=95,center=False).sum()
  from ipykernel import kernelapp as app

In [123]:
trade_friday = signal.resample('W-FRI').resample('B', fill_method='ffill')
trade_rets = trade_friday.shift(1) * returns
trade_rets = trade_rets[:len(returns)]

/Users/hikari/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning:
.resample() is now a deferred operation
You called resample(...) on this deferred object which materialized it into a series
by implicitly taking the mean.  Use .resample(...).mean() instead
  if __name__ == '__main__':
/Users/hikari/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: FutureWarning: fill_method is deprecated to .resample()
the new syntax is .resample(...).ffill()
  if __name__ == '__main__':

In [127]:
aapl = web.get_data_yahoo('AAPL', '2000-01-01')['Adj Close']
msft = web.get_data_yahoo('MSFT', '2000-01-01')['Adj Close']

aapl_rets = aapl.pct_change()
msft_rets = msft.pct_change()

In [128]:
plt.figure()